body{
    background-image: url("../../../stage-code/images/bg/bg4.png");
}

.welcomeP{
    background-color: blueviolet;
    font-size: 35px;
    text-align: center;
    border: solid 1px black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.welcomeA{
    background-color: blue;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 12px;
    text-align: center;
    display: block;
    width: 150px;
    margin-top: 300px;
    text-decoration: none;
    color: black;
}

.container a{
    color: white;
    text-decoration: none;    
}

.container :hover{
    background-color: lightblue;
}