body {
    background-image: url("../images/bg/bg4.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;   
    font-family: 'Mukta', sans-serif;
    height: 100%;
}

.card{
    width: 70%; 
    left: 15%;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 0px 0px 40px 40px;
}

.card-text{
    color: #66fcf1;
}

.alert{
    font-size: 20px; 
    color: #66fcf1;    
    height: 3rem; 
    text-align: center;
    position: relative;
    background-color: darkblue;
    margin-bottom: -10px;
    border: 1px solid white;
} 

.card-body{
    background-color: blue;
    text-align: center;
    border-radius: 0px 0px 40px 40px;;
}

.playsound{
    display: none;
}

.playsound img{
    cursor: pointer;
    width: 100px;
    height: 100px;;
}

.text3{
    width: 60%;
    margin: auto;
    display: none;
}

#buttons{
    width: 100px;
    height: 100px;
    margin-left: 43%;
    background-color: lightgreen;
}

#button{
    width: 100px;
    height: 100px;
    background-color: red;
}

#img1 {
    /* display: none; */
    height: 100px;
    width: 100px;
  }

#img2 {
/* display: none; */
height: 100px;
width: 100px;
}

.dropdown{
    margin-bottom: 10px;
}

.number
{
	text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 1);
    width: 50px;
    margin: 0px auto;
}

#number1{
color: red;
}
#number2{
    color: orange;
}
#number3{
    color: yellow;
}

.start img{
    cursor: pointer;
}

.press{
    display: none;
    color: white;
}

.form-control{
    text-align: center;
}

.timer{
    background-color: darkblue;
    width: 175px;
    margin: auto;
    border-radius: 20px;
    border: 2px white solid;
}

#countTime{
    color: #66fcf1;
    font-size: 50px;
    margin-left: 5%;

}

#keyboard{
    display: none;
}

.Check{
    display: none;
}

.rightwrong{
    color: white;
    background-color: darkblue;
    border-radius: 20px;
    border: 3px solid black;
    width: 150px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
}

.levelbutton{
	background-color: darkblue;
	border: 3px solid black;
	border-radius: 20px;
	text-align: center;
	margin: auto;
    margin-top: 50px;
    width: 300px;
}

.btn{
    margin: auto;
}