body {
    background-image: url("../images/bg/bg4.png");   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;   
    font-family: 'Mukta', sans-serif;
    height: 100%;
}

.card{
    width: 70%; 
    left: 15%;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 0px 0px 40px 40px;
    min-height: 300px;
    background: #ffffff8a !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.card-text{
    color: black;
}

.alert{
    font-size: 20px; 
    height: 3rem; 
    text-align: center;
    position: relative;
    /* background-color: black; */
    margin-bottom: -10px;
    border: 1px solid white;
} 

.card-body{
    background-color: lightgray;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    background: none;
}

.playsound{
    display: none;
}

.playsound img{
    cursor: pointer;
    width: 100px;
    height: 100px;;
}

.text3{
    width: 60%;
    margin: auto;
    display: none;
}

#img1 {
    /* display: none; */
    height: 100px;
    width: 100px;
  }

#img2 {
/* display: none; */
height: 100px;
width: 100px;
}

.number
{
	text-align: center;
    font-size: 80px;
    font-weight: bold;
    color: darkblue;
    text-shadow: 0 0px 5px rgba(0, 0, 0, 1);
    width: 50px;
    margin: 0px auto;
}

#number1{
color: black;
}
#number2{
    color: black;
}
#number3{
    color: black;
}

.start img{
    cursor: pointer;
}

.press{
    display: none;
    color: blacks;
}

.form-control{
    text-align: center;
}

.timer{
    background-color: darkblue;
    width: 175px;
    margin: auto;
    border-radius: 20px;
    border: 2px white solid;
}

#countTime{
    color: #66fcf1;
    font-size: 50px;
    margin-left: 5%;

}

#keyboard{
    display: none;
}

.Check{
    display: none;
}

.rightwrong{
    color: black;
    background: #ffffffbe !important;
    border-radius: 20px;
    border: 1px solid black;
    width: 150px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.levelbutton{
	background-color: darkblue;
	border: 3px solid black;
	border-radius: 20px;
	text-align: center;
	margin: auto;
    margin-top: 50px;
    width: 300px;
}
/* 
.btn{
    margin: auto;
} */

.input-group{
    width: 25%;
}

.addword{
margin-left: 40%;
}

#progressBar {
    width: 30%;
    margin: 10px auto;
    height: 22px;
    background-color: gray;
    border-radius: 10px;
    margin-top: -2px;
  }
  
  #progressBar div {
    height: 100%;
    padding: 0 10px;
    line-height: 25px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: black;
    box-sizing: border-box;
    color: white;
    border-radius: 10px;
  }

.navbar{
    float: right;
    margin-top: -47px;
}

#score1{
    color: green;
    float: left;
    font-size: 30px;
    margin-top: -10px;
}

#score2{
    color: red;
    float: left;
    margin-left: 1%;
    font-size: 30px;
    margin-top: -10px;
}

#hide{
    background-color: white;
    border: 1px;
    border-radius: 12px;
}

#show{
    background-color: white;
    border: 1px;
    border-radius: 12px;
}