/*################################################################*/
/*Body things*/
/*################################################################*/
body {
	overflow-x: hidden;
	background-color:#09C3FF;
}
::-webkit-scrollbar {
	width: 0px;
}

/*################################################################*/
/*End body things*/
/*################################################################*/



/*################################################################*/
/*Home Page*/
/*################################################################*/
#home-banner {
	margin-bottom: 70px;
    background-color: #09C3FF;
	width: 100%; 
}

.home-text-area {
	text-align: center;
	color: black;
}

.my-col {
	margin-bottom: 70px;
}

.home-img-area img {
	width: 300px;
	height: 300px;
}

.home-img-area{
    margin: auto;
    width: 300px;
	height: 300px;
	background-color: white;
	border-radius: 50%;
}
.text {
	margin: 0 auto;
	width: 300px;
}

p {
	font-size: 20px;
	font-family: arial, sans-serif;
	font-weight: 700;
	color: black;
}
/*################################################################*/
/*End Home Page*/
/*################################################################*/



/*################################################################*/
/*Product Page*/
/*################################################################*/
.containerAll {
	margin-bottom: 60px;
}

#productContainer{
	display: inline-block;
	margin: 5px;
	border: 2px solid white;
	height: 433px;
	background-color: white;
}

#productName{
	width: 320px;
	height: 50px;
	text-align: center;
}

#productPrice{
	width: 75px;
	height: 35px;
	margin-top: 40px;
	background-color: white;
	color: black;
}

#productImage{
	margin-left: 35px;
    width: 250px;
    height: 250px;
}

#buttonBuy{
	width: 150px;
	height: 40px;
	font-size: 20px;
	background-color: lightgray; 
	border: 1px black solid;
	margin-left: 1px;
}

#buttonInfo{
	width: 150px;
	height: 40px;
	font-size: 20px;
	background-color: lightgray;
	margin-left: 8px;
	border: 1px black solid;
}
/*################################################################*/
/*End Product Page*/
/*################################################################*/



/*################################################################*/
/*Building Page*/
/*################################################################*/
#image {
	width:250px;
	height:250px;
}

#customize {
	margin: 40px;
}

#products {
	width: 252px;
	height: 400px;
	display: inline-block;
	border: 1px solid black;
	background-color: white;
}

#Name {
	width: 250px;
	height: 75px;
	text-align: center;
}

#Price {
	width: 65px;
	margin-left: 95px;
}

input[type=checkbox] {
	width: 20px;
	height: 20px;
	margin-left: 116px;
}

.button-container {
	height: 300px;

}
/*################################################################*/
/*End Building Page*/
/*################################################################*/



/*################################################################*/
/*Cart Page*/
/*################################################################*/
.cart-container{
    border: solid 2px black;
    margin-top: 10px;
    padding-bottom: 0px;
}

#clearCart {
	margin-bottom: 70px;
}

.cartProducts {
	margin-top: 10px;
	background-color: white;
	width: 500px;
}

#cartImage {
	width: 300px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cartName {
	text-align: center;
	font-size: 30px;
}

#cartPrice {
	text-align: center;
}

#CartTotalPrice {
	text-align: center;
	font-size: 30px;
}

#cart {
	text-align: center;
	border: 1px solid black;
	background-color: white;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#clearCart {
	border: 3px solid black;
	background-color: black;
	color: white;
	width: 300px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/*################################################################*/
/*End Cart Page*/
/*################################################################*/



/*################################################################*/
/*AboutUs Page*/
/*################################################################*/
#titleAbout{
	font-size: 50px;
}

.about-BOT {
	text-align: center;
	margin-top: 20px;
}

.about-BOT a {
	background-color: white;
	transition: background-color 2s ease;
	border: black 1px solid;
	text-decoration: none;
	color: black;
	width: 300px;
	height: 110px;
	margin: 20px;
}

.about-BOT a:hover {
	color: white;
	background-color: black;
}

.my-about-col-BOT {
	padding: 10px;
	margin: 20px;
	text-align: center;
}

.about-site {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 70px;
}

.my-about-col-site {
	background-color: white;
	border: black 1px solid;
	margin-top: 20px;
	padding: 10px;
	color:	black;
}
/*################################################################*/
/*End AboutUs Page*/
/*################################################################*/



/*################################################################*/
/*About Tom Page*/
/*################################################################*/
.info-tom {
	background-color: white;
	margin-top: 100px;
}

.other-tom {
	background-color: black;
	color: white;
	margin-bottom: 80px;
}

.image-tom {
	border-radius: 50%;	
	width: 400px;
	height: 400px;
}

.image-tom img {
	transform: rotate(90deg);
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.col-tom {
	margin: 50px;
}

.col-other-tom {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*################################################################*/
/*End About Tom Page*/
/*################################################################*/



/*################################################################*/
/*About Okke Page*/
/*################################################################*/
.info-okke {
	background-color: white;
	margin-top: 100px;
}

.other-okke {
	background-color: black;
	color: white;
	margin-bottom: 80px;
}

.image-okke {
	border-radius: 50%;	
	width: 400px;
	height: 400px;
}

.image-okke img {
	transform: rotate(90deg);
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.text-okke {
}

.col-okke {
	margin: 50px;
}

.col-other-okke {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*################################################################*/
/*End About Okke Page*/
/*################################################################*/



/*################################################################*/
/*About Bart Page*/
/*################################################################*/
.info-bart {
	background-color: white;
	margin-top: 100px;
}

.other-bart {
	background-color: black;
	color: white;
	margin-bottom: 80px;
}

.image-bart {
	border-radius: 50%;	
	width: 400px;
	height: 400px;
}

.image-bart img {
	transform: rotate(90deg);
	width: 400px;
	height: 400px;
	border-radius: 50%;
}

.text-bart {
}

.col-bart {
	margin: 50px;
}

.col-other-bart {
	margin-top: 20px;
	margin-bottom: 20px;
}
/*################################################################*/
/*End About Bart Page*/
/*################################################################*/



/*################################################################*/
/*Contact Page*/
/*################################################################*/
.explain-container{
    border: solid 2px white;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin: auto;
    margin-bottom: 30px;
	background-color: white;
}

.my-contact-container {
	margin-top: 100px;
	padding: 20px;
}

input[type=text] {
	background-color: white;
	color: black;
	border: 1px black solid;
}

input[type=email] {
	background-color: white;
	color: black;
	border: 1px black solid;
}
textarea[type=area] {
	background-color: white;
	color: black;
	border: 1px black solid;
}

button[type=submit] {
	background-color: black;
	color: white;
	width: 150px;
	height: 45px;
	margin: auto; 
}
/*################################################################*/
/*End Contact Page*/
/*################################################################*/



/*################################################################*/
/*login page*/
/*################################################################*/
.login-page{
    color: white;
    margin-top: 40px;
}

button[type=submit] {
	background-color: black;
	border: 3px solid black;
    color: white;
    width: 150px;
    height: 45px;
    margin: auto;
    float: right;
}
input[type=text] {
    background-color: white;
    color: black;
    border: 1px black solid;
    margin-left: 0px;
}
input[type=email] {
    background-color: white;
    color: black;
    border: 1px black solid;
}
/*################################################################*/
/*End Login Page*/
/*################################################################*/



/*################################################################*/
/*Register Page*/
/*################################################################*/
.register-page{
    color: white;
    margin-top: 40px;
}

button[type=submit] {
	background-color: black;
	border: 3px solid black;
    color: white;
    width: 150px;
    height: 45px;
    margin: auto;
	float: right;
	margin-bottom: 70px;
}
input[type=text] {
    background-color: white;
    color: black;
    border: 1px black solid;
    margin-left: 0px;
}
input[type=email] {
    background-color: white;
    color: black;
    border: 1px black solid;
}
/*################################################################*/
/*End Register Page*/
/*################################################################*/



/*################################################################*/
/*CMS Page*/
/*################################################################*/
#productName {
    height: 50px;
}

#productDesc {
    height: 200px;
}

#productPrice {
    width: 100px;
}

#cms-products {
    background-color: white;
    height: 500px;
    border: black solid 1px;
    overflow: auto;
}
/*################################################################*/
/*End CMS Page*/
/*################################################################*/



/*################################################################*/
/*Add To Cart Page*/
/*################################################################*/
#AddToCart {
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}

.wrapper {
	text-align: center;
}

#GoBack {
	background-color: white;
	font-size: 20px;		
	border: 1px solid black;
	padding: 10px;
	display: center;
}
/*################################################################*/
/*End Add To Cart Page*/
/*################################################################*/



/*################################################################*/
/*More Info Page*/
/*################################################################*/
.info {
	background-color: white;
	border: 1px solid black;
	width: 550px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
}

#infoName {
	text-align: center;
}

#infoDesc {
	width: 500px;
	text-align:	center;
	margin: auto;
	margin-top: 30px;
}

#infoPrice {
	text-align: center;
	margin-top: 30px;
}

#infoBuy {
	width: 300px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: lightgray;
	border: 1px solid black;
	margin-bottom: 10px;
}
/*################################################################*/
/*End More Info Page*/
/*################################################################*/