body{
	background-image: url("../../stage-code/images/bg/bg4.png");
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin-bottom: 50px;
}

.container{
	margin-top: 75px;
}

.firstname{
	font-size: 30px;
	text-transform: capitalize;
}

.lastname{
	font-size: 30px;
	text-transform: capitalize;
}

.username{
	font-size: 30px;
}

.yourinfo{
    background: #ffffffbe !important;
	width: 200px;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	color: black;
}

.back{
	margin-bottom: 10px;
}

.form-group{
	font-size: 25px;
}