body{
	background-image: url("../../stage-code/images/bg/bg4.png");
}

.container{
	margin-top: 75px;
}

.firstname{
	font-size: 30px;
	text-transform: capitalize;
}

.lastname{
	font-size: 30px;
	text-transform: capitalize;
}

.username{
	font-size: 30px;
}

.yourinfo{
	background-color: darkblue;
	width: 200px;
	border: 3px solid black;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	margin-top: 50px;
	color: white;
}

.back{
	margin-bottom: 10px;
}

.form-group{
	font-size: 25px;
}